html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
    padding-top: 20px;
    /*font-size: 14px;*/
    margin:0px;
    padding:0px;
    font-family: "franklingothic-book", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

a:link, a:visited {
  color: #2A69A6;
}

a:focus, a:hover {
  color: #e57200;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .container-wide {
    width: 1200px;
  }
}

.navbar-light .navbar-nav .nav-link {
  font-family: "franklingothic-demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #e57200;
}

.bg-inverse {
  background-color: #e57200 !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link
{
  color:#002359;
}

.navbar-light .active .nav-link:focus, .navbar-light .active .nav-link:hover {
  color: white;
}


.navbar-light .navbar-toggler {
  border-color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*BOOTSTRAP FONT DEFAULTS
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;*/

@font-face {
    font-family: 'franklingothic-book';
    src: url('fonts/franklingothic-book-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic-bookit';
    src: url('fonts/franklingothic-bookit-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-bookit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic-demi';
    src: url('fonts/franklingothic-demi-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'franklingothic-demiit';
    src: url('fonts/franklingothic-demiit-webfont.woff2') format('woff2'),
         url('fonts/franklingothic-demiit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@media (max-width: 575px){.jumbotron {
  background-color:#F1F1EF;
  padding: 10px;
  margin-bottom: 20px;
  padding-bottom: 12px;
  padding-top: 20px;
}
}


@media (min-width: 576px){.jumbotron {
  background-color:#F1F1EF;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
}

.my-row-zebra .row:nth-of-type(2n+1){
  background-color: #F1F1EF;
}

.my-ul-zebra li:nth-of-type(2n+1){
  background-color: #F1F1EF;
}

.my-div-zebra div:nth-of-type(2n){
  background-color: #F1F1EF;
}

.my-col-12-zebra .col-12:nth-of-type(2n+1){
  background-color: #F1F1EF;
}

@media (min-width: 992px) {
  .my-col-12-zebra-twocols .col-12:nth-of-type(4n+1){
    background-color: #F1F1EF;
  }
  .my-col-12-zebra-twocols .col-12:nth-of-type(4n+4){
    background-color: #F1F1EF;
  }
}
@media (max-width: 991px) {
  .my-col-12-zebra-twocols .col-12:nth-of-type(2n+1){
    background-color: #F1F1EF;
  }
}

h1,
.h1 {
  font-size: 30px;
}
h2,
.h2 {
  font-size: 28px;
}
@media (max-width: 575px) {
  h1,
  .h1 {
    font-size: 26px;
  }
  h2,
  .h2 {
    font-size: 24px;
  }
}
h3,
.h3 {
  font-size: 22px;
}
h4,
.h4 {
  font-size: 22px;
}
h5,
.h5 {
  font-size: 18px;
}
h6,
.h6 {
  font-size: 18px;
}

.smaller-h5
{
  font-family: "franklingothic-demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

nonupper-h5,
.nonupper-h5
{
  font-size: 18px;
  font-family: "franklingothic-demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: inherit;
}

nonupper-h6,
.nonupper-h6
{
  font-size: 18px;
  font-family: 'Unna', serif;
  font-style: italic;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "franklingothic-demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

a.page-logo-large:link, a.page-logo-large:visited
{
  font-family: "franklingothic-demi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}

a.page-logo-large:focus, a.page-logo-large:hover
{
  color: #e57200;
  text-decoration: none;
}

h2,
.h2
{
  font-family: "franklingothic-demiit", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-style: italic;*/
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

h4,
.h4
{
  font-family: 'Unna', serif;
  font-style: italic;
  /*font-weight: bold;*/
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

h6,
.h6
{
  font-family: 'Unna', serif;
  font-style: italic;
  /*font-weight: bold;*/
  line-height: 1.1;
  color: inherit;
  text-transform: uppercase;
}

.my-bordered-news-snippets{
  border-left: 1px dotted #DADADA;
  border-bottom: 1px dotted #DADADA;
}

a.list-group-item-action:hover, a.list-group-item-action:focus {
  color: #e57200;
}
.list-group-item.active {
  color: white;
  background-color: #002F6C;
  border-color: #002F6C;
}

a.list-group-item.active,
button.list-group-item.active {
  color: white;
  background-color: #002F6C;
  border-color: #002F6C;
}

a:focus.list-group-item.active,
a:hover.list-group-item.active {
  color: white;
  color: #e57200;
  background-color: #002F6C;
  border-color: #002F6C;
}

.orange-item {
  background-color:rgba(235,95,12, 0.6);
  color:#002F6C;
}

a.orange-item:link, a.orange-item:visited {
  background-color:rgba(235,95,12, 0.6);
  color:#002F6C;
}

a.orange-item:hover, a.orange-item:focus {
  background-color: #e57200 !important;
  color:#002F6C !important;
}

.highlighted-item, a.highlighted-item:link, a.highlighted-item:visited {
  color:#1e6a06;
}
