_site
Gemfile.lock

.jekyll-metadata
.bundle
vendor
.DS_Store
.aider*
Gorin_lectures

reading_list.blg
reading_list.bbl
reading_list.aux
reading_list.log
reading_list.out
reading_list.synctex.gz
reading_list.fdb_latexmk
reading_list.fls
kpz2025/bib.bib
_posts/talks/YF-talk/bib.bib




LaTeX/2025-02-18-YF-talk/2025-02-18_YF_talk.aux
LaTeX/2025-02-18-YF-talk/2025-02-18_YF_talk.bbl
LaTeX/2025-02-18-YF-talk/2025-02-18_YF_talk.blg
LaTeX/2025-02-18-YF-talk/2025-02-18_YF_talk.brf
LaTeX/2025-02-18-YF-talk/2025-02-18_YF_talk.fdb_latexmk
LaTeX/2025-02-18-YF-talk/2025-02-18_YF_talk.fls
LaTeX/2025-02-18-YF-talk/2025-02-18_YF_talk.log
LaTeX/2025-02-18-YF-talk/2025-02-18_YF_talk.out
LaTeX/2025-02-18-YF-talk/2025-02-18_YF_talk.toc
LaTeX/2025-02-18-YF-talk/2025-02-18_YF_talk.synctex.gz
LaTeX/2025-02-18-YF-talk/bib.bib
