_site
Gemfile.lock

.jekyll-metadata
.bundle
vendor
.DS_Store
.aider*
Gorin_lectures

reading_list.blg
reading_list.bbl
reading_list.aux
reading_list.log
reading_list.out
reading_list.synctex.gz
reading_list.fdb_latexmk
reading_list.fls
kpz2025/bib.bib
