url: "https://lpetrov.cc"
storage_url: "https://storage.lpetrov.cc"

permanent_url: "https://lpetrov.cc"

name: Leonid Petrov
description: Leonid Petrov. Integrable Probability

timezone: America/New_York

markdown: kramdown
# kramdown:
# math_engine: nil

highlighter: rouge

collections:
  simulations:
    output: true
    permalink: /simulations/:name/

defaults:
  - scope:
      path: ""
      type: simulations
    values:
      layout: sim_page
      nav_parent: Simulations

excerpt_separator: <!--more-->

paginate: 8
paginate_path: "posts/page:num"
permalink: /:year/:month/:title/

exclude:
  - vendor
  - "_simulations/domino_tilings/myenv/"
  - ".claude"
  - "_simulations/domino_tilings/.claude"
  - "_simulations/lozenge_tilings/.claude"
  - "_simulations/lozenge_tilings/metal/"
  - "_simulations/misc/.claude"
  - "_simulations/permutations/.claude"
  - "_simulations/random-matrices/.claude"
  - "_simulations/TASEP-like-systems/.claude"

plugins:
  - jekyll-paginate
  - jekyll-feed
  - jekyll-redirect-from

author: Leonid Petrov

feed:
  path: /posts/feed.xml
