---
title: Leonid Petrov. Integrable Probability
layout: default
permalink: /index.html
nav_id: Home
nav_weight: 1
---


<h1 class="sr-only">Leonid Petrov - Integrable Probability</h1>
<div class="row">
    <div class="col-md-8 mb-4">
        <h2>
            About &bull; (<a href="{{ site.url }}/research/">papers</a>) &bull;
            (<a href="{{ site.url }}/research/petrovCVbrief.pdf">CV</a>)
        </h2>

        <p><strong>Professor of Mathematics, University of Virginia</strong>.</p>

        <p>
            Leonid Petrov works in integrable probability, an area of
            mathematical research at the interface between probability /
            statistical physics on the one hand and representation
            theory/quantum integrability on the other. He applies tools from
            integrability (symmetric functions and Yang-Baxter equations for
            solvable lattice models) to analyze the asymptotic behavior of
            stochastic models motivated by a wide range of real-world questions,
            including the structure of ice and other condensed matter,
            magnetism, quantum spin systems, thermodynamics, traffic models, and
            directed polymers.
        </p>

        <p>
            Petrov completed his Ph.D. in 2010 in Moscow with advisor Grigori
            Olshanski. Following a postdoctoral position at Northeastern
            University (2011-2014), he joined the University of Virginia as
            faculty in Department of Mathematics. He has held visiting positions
            at MIT (2017-2018), MSRI (Fall 2021), and IPAM (Spring 2024).
        </p>

        <p>
            Recently, he is also involved in broadening access to AI tools for
            working mathematicians by
            <a href="https://lpetrov.cc/AI-math/">sharing</a>
            <a
                href="https://storage.lpetrov.cc/research_files/talks/AI_UVA_Oct10.pdf"
                >best practices,</a
            >
            participating in panel discussions, and
            <a href="{{site.url}}/simulations/">utilizing AI to build interactive simulations</a>
            of cutting-edge research advances
            in integrable probability and beyond (see below for a few comprehensive examples).
        </p>

        {%include sims.html%}

        <p><strong>Keywords</strong>: Integrable probability, KPZ universality, interacting
        particle systems, six vertex model, Yang-Baxter equation, stochastic
        vertex models, Bethe ansatz, Macdonald processes, random tilings,
        symmetric functions, algebraic combinatorics</p>

        <ul class="mt-3">
            <li>
                NSF grant
                <a
                    href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2153869"
                    >2153869</a
                >
                "Random Systems from Symmetric Functions and Vertex Models"
                (2022-2025).
            </li>
            <li>
                <a href="http://frg.int-prob.org/" target="_blank"
                    >Focused Research Group in Integrable Probability<span class="sr-only"> (opens in new tab)</span></a
                >
                (2017-2022) supported by the NSF grant
                <a
                    href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1664617"
                    target="_blank"
                    >1664617<span class="sr-only"> (opens in new tab)</span></a
                >
                and companion grants
                <a
                    href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1664531"
                    target="_blank"
                    >1664531<span class="sr-only"> (opens in new tab)</span></a
                >,
                <a
                    href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1664619"
                    target="_blank"
                    >1664619<span class="sr-only"> (opens in new tab)</span></a
                >,
                <a
                    href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1664650"
                    target="_blank"
                    >1664650<span class="sr-only"> (opens in new tab)</span></a
                >.
            </li>
        </ul>

        <h2 class="mt-4">
            Teaching &bull; (<a href="{{ site.url }}/teaching/">all</a>)
        </h2>

        {% include current_teaching.html %}

        <hr />
        <h2 class="mb-3">Recent news and links</h2>

        <ul class="list-group my-ul-zebra">
            {% assign quick-links-counter = 0 %} {% for post in site.posts %} {%
            if post.categories contains "quick_link" and quick-links-counter < 7
            %} {% assign quick-links-counter = quick-links-counter | plus:1 %}

            <li class="list-group-item" style="padding: 10px 17px">
                {{ post.excerpt }}
            </li>

            {% endif %} {% endfor %}
        </ul>

        {%include students.html%}
    </div>

    <div class="col-md-4">
        <img
                class="mb-2"
                width="100%"
                src="{{site.storage_url}}/img/me_fence.jpg"
                alt="Photo of Leonid Petrov leaning on a wooden fence"
                align="center"
                vspace="5"
        />

        <a href="{{site.url}}/simulations/"
            ><img
                width="100%"
                src="{{site.storage_url}}/img/blog/heart/Fragment_tn.png"
                alt="Random lozenge tiling of a heart shape - visit simulations gallery"
                align="center"
                vspace="5"
        /></a>
    </div>

        <div class="col-12 mt-1">{% include contact.html %}</div>
    </div>


</div>
