---
title: Leonid Petrov. Integrable Probability
layout: default
permalink: /index.html
nav_id: Home
nav_weight: 1
---


<div class="row">
  <div class="col-md-8 mb-4">
    <h3>About &bull; (<a href="{{ site.url }}/research/">papers</a>)
      &bull; (<a href="{{ site.url }}/research/petrovCVbrief.pdf">CV</a>)</h3>

    <p><b>Associate Professor of Mathematics, University of
    Virginia</b>.</p>

    <p>Leonid Petrov works in integrable probability, an area of mathematical research at the interface between probability / statistical physics on the one hand and representation theory/quantum integrability on the other. He applies tools from integrability (symmetric functions and Yang-Baxter equations for solvable lattice models) to analyze the asymptotic behavior of stochastic models motivated by a wide range of real-world questions, including the structure of ice and other condensed matter, magnetism, quantum spin systems, thermodynamics, traffic models, and directed polymers.</p>
    
      
    <b>Keywords</b>: Integrable probability, KPZ universality, interacting particle systems,
    six vertex model, Yang-Baxter equation, stochastic vertex models, 
    Bethe ansatz, Macdonald processes, random tilings, symmetric functions, algebraic combinatorics

    <ul class="mt-3"> 
    <li>
      NSF grant <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2153869">2153869</a> 
      "Random Systems from Symmetric Functions and Vertex Models" (2022-2025).
    </li>
    <li> <a href="http://frg.int-prob.org/" target="_blank">Focused Research Group in Integrable Probability</a> (2017-2022)
      supported by the NSF grant <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1664617" target="_blank">1664617</a> and companion grants
        <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1664531" target="_blank">1664531</a>,
        <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1664619" target="_blank">1664619</a>,
        <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1664650" target="_blank">1664650</a>.
      </li>
    </ul>
    
  
    <h3 class="mt-4">Teaching &bull; (<a href="{{ site.url }}/teaching/">all</a>)</h3>

		{% include current_teaching.html %}

    <hr />
    <h3 class="mb-3">Recent news and links</h3>

    <div class="list-group my-ul-zebra">
    {% assign quick-links-counter = 0 %}
    {% for post in site.posts %}
    {% if post.categories contains "quick_link" and quick-links-counter < 3 %}
    {% assign quick-links-counter = quick-links-counter | plus:1 %}

		<li class="list-group-item" style="padding:10px 17px">
			{{ post.excerpt }}
		</li>

    {% endif %}
    {% endfor %}
    </div>

    {%include students.html%}

  </div>

  <div class="col-md-4">
    <a href="{{site.url}}/mit_pic_2018/"><img class="mb-2" width="100%" src="{{site.storage_url}}/img/me_MIT_tn.jpg" alt="My Picture at MIT" align="center" vspace="5" /></a>

    <a href="{{site.url}}/simulations/"><img width="100%" src="{{site.storage_url}}/img/blog/heart/Fragment_tn.png" alt="Random tiling" align="center"vspace="5" /></a>


    <div class="col-12 mt-3" id="arxivfeed"></div>
    <!-- <h5 class="mt-4">Interesting papers on arXiv</h5>
    <a class="twitter-timeline" data-height="400" data-dnt="true" href="https://twitter.com/qtasep?ref_src=twsrc%5Etfw">Tweets by qtasep</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  </div>

  <div class="col-12 mt-1">
    {% include contact.html %}
  </div>
</div>

<script type="text/javascript">
<!--
var arxiv_authorid = "petrov_l_1";
var arxiv_format = "arxiv";
var arxiv_includeSummary = "0";
var arxiv_includeComments = 0;
var arxiv_includeJournalRef = "0";
var arxiv_includeDOI = "0"; 
var arxiv_includeSubjects = 0;
var arxiv_max_entries = "3";
//--></script>
<script type="text/javascript" src="https://arxiv.org/js/myarticles.js"></script> 