---
title: Research
layout: default
permalink: /research/
nav_id: Research
nav_weight: 2
---

<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-md-8">

    <!-- Search Bar -->
    <div id="research-search-group" class="input-group mb-3">
      <input type="text" id="research-search-input" class="form-control" placeholder="Search papers… (Esc to clear)" aria-label="Search research">
      <button class="btn btn-outline-secondary" type="button" id="research-search-clear">Clear</button>
    </div>

    <!-- Search Options -->
    <div class="mb-3">
      <button class="btn btn-sm btn-outline-info" type="button" id="research-extended-search-toggle">
        Extended
      </button>
      <button class="btn btn-sm btn-outline-success ms-2" type="button" id="research-recent-filter">
        Recent
      </button>
      <br>
      <small class="text-muted">By default, search covers paper number, title, authors, and journal only</small>
    </div>

    <!-- Category Buttons -->
    <div id="research-cat-buttons" class="d-none d-md-flex flex-wrap gap-2 mb-4">
      <!-- Categories will be dynamically generated -->
    </div>

    <h1><a name="preprints">Preprints</a></h1>
    <hr />

    <ol class="my-ul-zebra research-list">
    {% for post in site.posts %}
    {% if post.categories contains "preprint" %}


      <li value="{{post.cv-number}}" class="mb-1"  style="padding:6px" data-category="preprint" data-title="{{post.title | downcase}}" data-basic-search="{{post.cv-number}} {{post.title}} {% for coa in post.coauthors %}{{coa.name}} {% endfor %}" data-year="{{post.date | date: '%Y'}}">
        {% for coa in post.coauthors %}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %}.
        <b><a href="{{site.url}}{{post.url}}"  class="highlighted-item">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) &bull;
        {% if post.arXiv %}<a href="https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{post.arXiv}}</a>{% endif %}
        {% if post.post-pdf %}&bull; (<a href="{{site.storage_url}}/papers/{{post.pdf}}">PDF</a>){% endif %}
        {% if post.simulations %}&bull; (<a href="{{site.url}}/{{post.simulations}}">Visualizations</a>){% endif %}
        {% if post.post-source %}&bull; (<a href="{{site.storage_url}}/research_files/Petrov-publ/{{post.source}}">TeX</a>){% endif %}
        {% unless post.no-abstract %}<details>
          <summary>
            Abstract
          </summary>
          <br />
            {{ post.content | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
            {% endif %}
        </details>
        {% endunless %}
      </li>



    {% endif %}
    {% endfor %}
    </ol>

    <h1  class="mt-4"><a name="published">Published or accepted</a> &bull; (<a href="{{ site.url }}/research/petrovCVbrief.pdf">CV</a>)</h1>
    <hr />

    <ol reversed class="my-ul-zebra research-list">
    {% for post in site.posts %}
    {% if post.categories contains "paper" %}


      <li value="{{post.cv-number}}" class="mb-1" style="padding:6px" data-category="published" data-title="{{post.title | downcase}}" data-basic-search="{{post.cv-number}} {{post.title}} {% for coa in post.coauthors %}{{coa.name}} {% endfor %} {{post.journal-ref}}" data-year="{{post.date | date: '%Y'}}">
        {% for coa in post.coauthors %}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %}.
        <b><a href="{{site.url}}{{post.url}}"  class="highlighted-item">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) &bull;
        {%if post.journal-web%}<a href="{{post.journal-web}}" target="_blank">{%endif%}
          <i>{{post.journal-ref}}</i>{%if post.journal-web%}</a>{%endif%}{% if post.journal-ref-extra %} {{post.journal-ref-extra}}{% endif %} &bull;
        {% if post.arXiv %}<a href="https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{post.arXiv}}</a>{% endif %}
        {% if post.post-pdf %}&bull; (<a href="{{site.storage_url}}/papers/{{post.pdf}}">PDF</a>){% endif %}
        {% if post.simulations %}&bull; (<a href="{{site.url}}/{{post.simulations}}">Visualizations</a>){% endif %}
        {% if post.post-source %}&bull; (<a href="{{site.storage_url}}/research_files/Petrov-publ/{{post.source}}">TeX</a>){% endif %}
        {% if post.erratum %}&bull; (see also erratum <a href="#errata">below</a>){% endif %}
        {% unless post.no-abstract %}<details>
          <summary>
            Abstract
          </summary>
          <br />
            {{ post.content | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
            {% endif %}
        </details>{% endunless %}
      </li>



    {% endif %}
    {% endfor %}
    </ol>

    <h1 class="mt-4"><a name="errata">Errata</a></h1>
    <hr />

    <ol class="my-ul-zebra research-list">
      {% for post in site.posts %}
      {% if post.categories contains "erratum" %}

        <li value="{{post.cv-number}}" class="mb-1" style="padding:6px" data-category="erratum" data-title="{{post.title | downcase}}" data-basic-search="{{post.cv-number}} {{post.title}} {% for coa in post.coauthors %}{{coa.name}} {% endfor %} {{post.journal-ref}}" data-year="{{post.date | date: '%Y'}}">
          {% for coa in post.coauthors %}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %}.
          <b><a href="{{site.url}}{{post.url}}"  class="highlighted-item">{{post.title}}</a></b> ({{post.date | date: '%Y'}})
          {%if post.journal-web%}&bull; <a href="{{post.journal-web}}" target="_blank">{%endif%}
            <i>{{post.journal-ref}}</i>{%if post.journal-web%}</a>{%endif%}{% if post.journal-ref-extra %} {{post.journal-ref-extra}}{% endif %}
          {% if post.arXiv %}&bull; <a href="https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{post.arXiv}}</a>{% endif %}
          {% if post.post-pdf %}&bull; (<a href="{{site.storage_url}}/papers/{{post.pdf}}">PDF</a>){% endif %}
          {% if post.simulations %}&bull; (<a href="{{site.url}}/{{post.simulations}}">Visualizations</a>){% endif %}
          {% if post.post-source %}&bull; (<a href="{{site.storage_url}}/research_files/Petrov-publ/{{post.source}}">TeX</a>){% endif %}
          {% unless post.no-abstract %}<details>
            <summary>
              Abstract
            </summary>
            <br />
              {{ post.content | markdownify }}
              {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
              {% endif %}
          </details>{% endunless %}
        </li>

      {% endif %}
      {% endfor %}
      </ol>




    <h1 class="mt-4">Other works</h1>
    <hr />

    <ol reversed class="my-ul-zebra research-list">
        <li class="mb-1" style="padding:6px" data-category="other" data-title="myosin-viia multiple isoforms" data-basic-search="myosin-viia multiple isoforms Sihan Li Andrew Mecca Jeewoo Kim Giusy Caprara Elizabeth Wagner Ting-Ting Du Leonid Petrov Wenhao Xu Runjia Cui Ivan Rebustini Bechara Kachar Anthony Peng Jung-Bum Shin">
          Sihan Li, Andrew Mecca, Jeewoo Kim, Giusy Caprara, Elizabeth Wagner, Ting-Ting Du, Leonid Petrov, Wenhao Xu, Runjia Cui, Ivan Rebustini, Bechara Kachar, Anthony Peng, and Jung-Bum Shin,
	        <i>Myosin-VIIa is expressed in multiple isoforms and essential for tensioning the hair cell mechanotransduction complex</i>.
	        <a href="https://www.nature.com/articles/s41467-020-15936-z">Nature Communications, 11, Article number: 2066 (2020)</a>. 15 pages.
        </li>
      </ol>


      <h1 class="mt-4"><a name="lecture-notes">Unpublished lecture notes</a></h1>
      <hr />

      <ol class="my-ul-zebra research-list">
        {% for post in site.posts %}
        {% if post.categories contains "unpublished-lecture-notes" %}

          <li value="{{post.cv-number}}" class="mb-1" style="padding:6px" data-category="lecture-notes" data-title="{{post.link-description | downcase}}" data-basic-search="{{post.cv-number}} {{post.link-description}} {{post.link-text}}">
            <b>
              {{post.link-description}} &bull;
              <a href="{{post.link-for-cv}}" class="highlighted-item">{{post.link-text}}</a></b>
              &bull; (<a href="{{site.storage_url}}/papers/{{post.lec-pdf}}">PDF</a>{%if post.lec-pdf-size%}, {{post.lec-pdf-size}}{%endif%})
          </li>

        {% endif %}
        {% endfor %}
        </ol>

    <h1 class="mt-4"><a name="slides">Slides of some talks</a></h1>
    <hr />

    <ol reversed class="my-ul-zebra research-list">
    {% for post in site.posts %}
    {% if post.categories contains "talk" %}


      <li class="mb-1" style="padding:6px" data-category="talk" data-title="{{post.title | downcase}}" data-basic-search="{{post.title}}" data-year="{{post.date | date: '%Y'}}">
        <b><a href="{{site.url}}{{post.url}}"  class="highlighted-item">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) &bull; <a href="{{ post.talk-url | replace: '__STORAGE_URL__', site.storage_url}}" target="_blank">{% if post.pdf-name-override %}{{post.pdf-name-override}}{% else %}PDF{% if post.pdf-size %} ({{post.pdf-size}}){% endif %}{% endif %}</a>

        {% unless post.no-abstract %}<details>
          <summary>
            Description
          </summary>
          <br />
            {{ post.excerpt | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
            {% endif %}
        </details>{% endunless %}
      </li>



    {% endif %}
    {% endfor %}
    </ol>

  </div>
  <div class="col-md-4 sidebar-offcanvas">
    <hr class="hidden-md-up">

    <div class="list-group-sm">
      <a class="list-group-item list-group-item-action h5" href="#preprints">Preprints</a>
      <a class="list-group-item list-group-item-action h5" href="#published">Publications</a>
      <a class="list-group-item list-group-item-action h5" href="#errata">Errata</a>
      <a class="list-group-item list-group-item-action h5" href="#lecture-notes">Lecture notes</a>
      <a class="list-group-item list-group-item-action h5" href="#slides">Slides</a>
			<a class="list-group-item list-group-item-action h5" href="{{site.url}}/simulations/">Gallery</a>
    </div>
    <br />
    <div class="list-group-sm">
      <a class="list-group-item list-group-item-action h5" href="https://scholar.google.com/citations?user=pWDfr2YAAAAJ&hl=en" target="_blank">Google scholar</a>
      <a class="list-group-item list-group-item-action h5" href="{{site.url}}/travel/">Research travel</a>
    </div>
    <br />
    <div class="list-group-sm">
      <a class="list-group-item list-group-item-action h5" href="https://github.com/lenis2000/BiBTeX/blob/master/bib.bib">BiBTeX file</a>
    </div>
    <br />
    <div class="list-group-sm">
      <a class="list-group-item list-group-item-action h5" href="http://frg.int-prob.org" target="_blank">NSF FRG page</a>
    </div>
    <!-- <div class="list-group-sm mt-5">
      <h3>Interesting papers on arXiv</h3>
      <a class="twitter-timeline" data-height="800" data-dnt="true" href="https://twitter.com/qtasep?ref_src=twsrc%5Etfw">Tweets by qtasep</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>  -->

    <br><br>
    <div class="col-12" id="arxivfeed"></div>

    <br><br>
    <div class="list-group-sm">
    <div class="list-group-item h5" style="font-weight: bold;">Coauthors</div>
    {% assign coauthor_entries = "" %}
    {% assign solo_count = 0 %}
    {% assign solo_journal_year = 0 %}
    {% for post in site.posts %}
      {% if post.categories contains "paper" or post.categories contains "preprint" %}
        {% assign has_coauthor = false %}
        {% for coa in post.coauthors %}
          {% unless coa.name == "Leonid Petrov" %}
            {% assign has_coauthor = true %}
            {% unless coauthor_entries contains coa.name %}
              {% assign name_parts = coa.name | split: " " %}
              {% assign last_name = name_parts | last %}
              {% assign post_year = post.date | date: "%Y" %}
              {% assign entry = last_name | append: "^" | append: coa.name | append: "^" | append: post_year %}
              {% if coauthor_entries == "" %}
                {% assign coauthor_entries = entry %}
              {% else %}
                {% assign coauthor_entries = coauthor_entries | append: "~" | append: entry %}
              {% endif %}
            {% endunless %}
          {% endunless %}
        {% endfor %}
        {% unless has_coauthor %}
          {% assign solo_count = solo_count | plus: 1 %}
          {% if post.journal-year %}
            {% if solo_journal_year == 0 %}
              {% assign solo_journal_year = post.journal-year %}
            {% endif %}
          {% endif %}
        {% endunless %}
      {% endif %}
    {% endfor %}
    {%- assign entry_list = coauthor_entries | split: "~" | sort -%}
    {%- for entry in entry_list -%}
      {%- assign entry_parts = entry | split: "^" -%}
      {%- assign cname = entry_parts[1] -%}
      {%- assign cyear = entry_parts[2] -%}
      {%- assign coa_web = nil -%}
      {%- assign coa_noweb = false -%}
      {%- assign coa_count = 0 -%}
      {%- assign coa_jyear = 0 -%}
      {%- for post in site.posts -%}
        {%- if post.categories contains "paper" or post.categories contains "preprint" -%}
          {%- for coa in post.coauthors -%}
            {%- if coa.name == cname -%}
              {%- assign coa_count = coa_count | plus: 1 -%}
              {%- if coa.web and coa_web == nil -%}
                {%- assign coa_web = coa.web -%}
              {%- endif -%}
              {%- if coa.noweb and coa_noweb == false and coa_web == nil -%}
                {%- assign coa_noweb = true -%}
              {%- endif -%}
              {%- if post.journal-year and coa_jyear == 0 -%}
                {%- assign coa_jyear = post.journal-year -%}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if coa_jyear != 0 -%}{%- assign coa_display_year = coa_jyear -%}{%- else -%}{%- assign coa_display_year = cyear -%}{%- endif -%}
      {%- if coa_web -%}<a class="list-group-item list-group-item-action" href="{{ coa_web }}"><small class="text-muted">[{{ coa_count }}]</small>&nbsp;{{ cname }}&ensp;<small class="text-muted">(&le;{{ coa_display_year }})</small></a>{%- else -%}<span class="list-group-item"><small class="text-muted">[{{ coa_count }}]</small>&nbsp;{{ cname }}&ensp;<small class="text-muted">(&le;{{ coa_display_year }})</small></span>{%- endif -%}
    {%- endfor %}
    <span class="list-group-item"><small class="text-muted">[{{ solo_count }}]</small>&nbsp;<b>Solo</b>&ensp;<small class="text-muted">{%- if solo_journal_year != 0 -%}(&le;{{ solo_journal_year }}){%- endif -%}</small></span>
    </div>
  </div>

</div>

<!-- Include search script -->
<script src="{{ site.url }}/assets/js/research-search.js"></script>

<script type="text/javascript">
  <!--
  var arxiv_authorid = "petrov_l_1";
  var arxiv_format = "arxiv";
  var arxiv_includeSummary = "0";
  var arxiv_includeComments = 0;
  var arxiv_includeJournalRef = "0";
  var arxiv_includeDOI = "0";
  var arxiv_includeSubjects = 0;
  var arxiv_max_entries = "10";
  //--></script>
  <script type="text/javascript" src="https://arxiv.org/js/myarticles.js"></script>
