---
title: Research
layout: default
permalink: /research/
nav_id: Research
nav_weight: 2
---

<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-md-8">

    <h1><a name="preprints">Preprints</a></h1>
    <hr />

    <ol class="my-ul-zebra">
    {% for post in site.posts %}
    {% if post.categories contains "preprint" %}


      <li class="mb-1"  style="padding:6px">
        {% for coa in post.coauthors %}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %}.
        <b><a href="{{site.url}}{{post.url}}"  class="highlighted-item">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) &bull;
        {% if post.arXiv %}<a href="https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{post.arXiv}}</a>{% endif %}
        {% if post.post-pdf %}&bull; (<a href="{{site.storage_url}}/research_files/Petrov-publ/{{post.pdf}}">PDF</a>){% endif %}
        {% if post.post-source %}&bull; (<a href="{{site.storage_url}}/research_files/Petrov-publ/{{post.source}}">TeX</a>){% endif %}
        {% unless post.no-abstract %}<details>
          <summary>
            Abstract
          </summary>
          <br />
            {{ post.content | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
            {% endif %}
        </details>
        {% endunless %}
      </li>



    {% endif %}
    {% endfor %}
    </ol>

    <h1  class="mt-4"><a name="published">Published or accepted</a> &bull; (<a href="{{ site.url }}/research/petrovCV.pdf">Full CV</a>)</h1>
    <hr />

    <ol reversed class="my-ul-zebra">
    {% for post in site.posts %}
    {% if post.categories contains "paper" %}


      <li class="mb-1" style="padding:6px">
        {% for coa in post.coauthors %}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %}.
        <b><a href="{{site.url}}{{post.url}}"  class="highlighted-item">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) &bull;
        {%if post.journal-web%}<a href="{{post.journal-web}}" target="_blank">{%endif%}
          <i>{{post.journal-ref}}</i>{%if post.journal-web%}</a>{%endif%} &bull;
        {% if post.arXiv %}<a href="https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{post.arXiv}}</a>{% endif %}
        {% if post.post-pdf %}&bull; (<a href="{{site.storage_url}}/research_files/Petrov-publ/{{post.pdf}}">PDF</a>){% endif %}
        {% if post.post-source %}&bull; (<a href="{{site.storage_url}}/research_files/Petrov-publ/{{post.source}}">TeX</a>){% endif %}
        {% if post.erratum %}&bull; (see also erratum <a href="#errata">below</a>){% endif %}
        {% unless post.no-abstract %}<details>
          <summary>
            Abstract
          </summary>
          <br />
            {{ post.content | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
            {% endif %}
        </details>{% endunless %}
      </li>



    {% endif %}
    {% endfor %}
    </ol>

    <h1 class="mt-4">Other works</h1>

    <ol reversed class="my-ul-zebra">
        <li class="mb-1" style="padding:6px">
          Sihan Li, Andrew Mecca, Jeewoo Kim, Giusy Caprara, Elizabeth Wagner, Ting-Ting Du, Leonid Petrov, Wenhao Xu, Runjia Cui, Ivan Rebustini, Bechara Kachar, Anthony Peng, and Jung-Bum Shin,
	        <i>Myosin-VIIa is expressed in multiple isoforms and essential for tensioning the hair cell mechanotransduction complex</i>.
	        <a href="https://www.nature.com/articles/s41467-020-15936-z">Nature Communications, 11, Article number: 2066 (2020)</a>. 15 pages.
        </li>
      </ol>

    <h1 class="mt-4"><a name="errata">Errata</a></h1>
    <hr />

    <ol class="my-ul-zebra">
      {% for post in site.posts %}
      {% if post.categories contains "erratum" %}
  
        <li class="mb-1" style="padding:6px">
          {% for coa in post.coauthors %}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true and coa.name != "Leonid Petrov" %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %}.
          <b><a href="{{site.url}}{{post.url}}"  class="highlighted-item">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) 
          {%if post.journal-web%}&bull; <a href="{{post.journal-web}}" target="_blank">{%endif%}
            <i>{{post.journal-ref}}</i>{%if post.journal-web%}</a>{%endif%} 
          {% if post.arXiv %}&bull; <a href="https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{post.arXiv}}</a>{% endif %}
          {% if post.post-pdf %}&bull; (<a href="{{site.storage_url}}/research_files/Petrov-publ/{{post.pdf}}">PDF</a>){% endif %}
          {% if post.post-source %}&bull; (<a href="{{site.storage_url}}/research_files/Petrov-publ/{{post.source}}">TeX</a>){% endif %}
          {% unless post.no-abstract %}<details>
            <summary>
              Abstract
            </summary>
            <br />
              {{ post.content | markdownify }}
              {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
              {% endif %}
          </details>{% endunless %}
        </li>
  
      {% endif %}
      {% endfor %}
      </ol>




    <h1 class="mt-4"><a name="slides">Slides of some talks</a></h1>
    <hr />

    <ol class="my-ul-zebra">
    {% for post in site.posts %}
    {% if post.categories contains "talk" %}


      <li class="mb-1" style="padding:6px">
        <b><a href="{{site.url}}{{post.url}}"  class="highlighted-item">{{post.title}}</a></b> ({{post.date | date: '%Y'}}) &bull; <a href="{{ post.talk-url | replace: '__STORAGE_URL__', site.storage_url}}" target="_blank">PDF ({{post.pdf-size}})</a>

        {% unless post.no-abstract %}<details>
          <summary>
            Description
          </summary>
          <br />
            {{ post.excerpt | markdownify }}
            {% if post.image != null %} {% if post.image-address != null %}<a href="{{ post.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% else %}<a href="{{site.url }}{{ post.url }}">{% endif %}<img src="{{ post.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
            {% endif %}
        </details>{% endunless %}
      </li>



    {% endif %}
    {% endfor %}
    </ol>

  </div>
  <div class="col-md-4 sidebar-offcanvas">
    <hr class="hidden-md-up">

    <div class="list-group-sm">
      <a class="list-group-item list-group-item-action h5" href="#preprints">Preprints</a>
      <a class="list-group-item list-group-item-action h5" href="#published">Publications</a>
      <a class="list-group-item list-group-item-action h5" href="#errata">Errata</a>
      <a class="list-group-item list-group-item-action h5" href="#slides">Slides</a>
			<a class="list-group-item list-group-item-action h5" href="{{site.url}}/simulations/">Gallery</a>
    </div>
    <br />
    <div class="list-group-sm">
      <a class="list-group-item list-group-item-action h5" href="https://scholar.google.com/citations?user=pWDfr2YAAAAJ&hl=en" target="_blank">Google scholar</a>
      <a class="list-group-item list-group-item-action h5" href="{{site.url}}/travel/">Research travel</a>
    </div>
    <br />
    <div class="list-group-sm">
      <a class="list-group-item list-group-item-action h5" href="https://github.com/lenis2000/BiBTeX/blob/master/bib.bib">BiBTeX file</a>
    </div>
    <br />
    <div class="list-group-sm">
      <a class="list-group-item list-group-item-action h5" href="http://frg.int-prob.org" target="_blank">NSF FRG page</a>
    </div>
    <!-- <div class="list-group-sm mt-5">
      <h3>Interesting papers on arXiv</h3>
      <a class="twitter-timeline" data-height="800" data-dnt="true" href="https://twitter.com/qtasep?ref_src=twsrc%5Etfw">Tweets by qtasep</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>  -->
  </div>

</div>
