---
title: Travel
layout: default
permalink: /travel/
nav_id: Travel
nav_weight: 3
---

<div class="row">
  <div class="col-md-12">

    <h1><a name="events">Travel plans</a></h1>

    <hr />

    <div class="row my-col-12-zebra">
      {% for post in site.posts %}
      {% if post.categories contains "travel-plans" %}
      <div class="col-12 my-bordered-news-snippets">

        <h2 class="mb-2 mt-3">{% unless post.no-page %}<a href="{{site.url }}{{ post.url }}" style="color:inherit;">{% endunless %}{{ post.title }}{% unless post.no-page %}</a>{% endunless %}</h2>

        <hr>

        {% if post.event-date-begin %}
        {% unless post.single-day-event %}
        <div class="mb-4">[{{ post.event-date-begin | date: "%A, %B %-d, %Y" }} to {{ post.event-date-end | date: "%A, %B %-d, %Y" }}]</div>
        {% else %}
        {% endunless %}
        {% endif %}

        {{ post.content | markdownify }}
      </div>
      {% endif %}
      {% endfor %}
    </div>
</div>
</div>
