
<div class="btn-group btn-block">
  <button type="button" style="width:100%;white-space:normal" class="btn btn-secondary h5 {% if page.permalink contains "/blog/posts/" %}orange-item{% endif %}"><a href="{{site.url}}/blog/posts/">Blog posts only</a></button>
  <button type="button"  style="background-color:#002f6c;color:white" class="btn  h5 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item smaller-h5" href="{{site.url}}/blog/posts/page2/">Page 2</a>
  </div>
</div>
<br />
<div class="btn-group btn-block">
  <button type="button" style="width:100%" class="btn btn-secondary h5 {% unless page.permalink contains "/blog/posts/" %}orange-item{% endunless %}"><a href="{{site.url}}/blog/">All entries</a></button>
  <button type="button" style="background-color:#002f6c;color:white"  class="btn h5 dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item smaller-h5" href="{{site.url}}/blog/page2">Page 2</a>
    <a class="dropdown-item smaller-h5" href="{{site.url}}/blog/page3">Page 3</a>
    <a class="dropdown-item smaller-h5" href="{{site.url}}/blog/page4">Page 4</a>
  </div>
</div>
