<div class="row">
  <div class="col-md-4">
    <h3 class="mt-3">Contact</h3>
    <table>
      <tr>
        <td>
          <span class="fa fa-envelope" aria-hidden="true"></span>&nbsp;
        </td>
        <td>
          <a href="mailto:__@virginia.edu">__@virginia.edu</a>
        </td>
      </tr>
      <tr>
        <td>
          <span class="fa fa-envelope" aria-hidden="true"></span>&nbsp;
        </td>
        <td>
          <a href="mailto:petrov@virginia.edu">petrov@virginia.edu</a>
        </td>
      </tr>
      <tr>
        <td>
          <span class="fa fa-envelope" aria-hidden="true"></span>&nbsp;
        </td>
        <td>
          <a href="mailto:lenia.petrov@gmail.com">lenia.petrov@gmail.com</a>
        </td>
      </tr>
      <tr>
        <td>
          <span class="fa fa-phone" aria-hidden="true"></span>&nbsp;
        </td>
        <td>
          <a href="tel:+1-434-924-4167">+1-434-924-4167</a>
        </td>
      </tr>
      <tr>
        <td>
          <span class="fa-brands fa-skype" aria-hidden="true"></span>&nbsp;
        </td>
        <td>
          <a href="skype:lenis2000?call">lenis2000</a>
        </td>
      </tr>
      <!-- <tr>
        <td>
          <span class="fa-brands fa-mastodon" aria-hidden="true"></span>&nbsp;
        </td>
        <td>
          <a rel="me" href="https://mathstodon.xyz/@qtasep">Mastodon</a>
        </td>
      </tr> -->
    </table>
  </div>

  <div class="col-md-4">
    <h3 class="mt-3">Office</h3>
    <table>
      <tr>
        <td>
          <span class="fa fa-map-signs" aria-hidden="true"></span>&nbsp;
        </td>
        <td>
          <a href="{{site.url}}/map_Kerchof.png" target="_blank"><b>209 Kerchof Hall</b></a>
        </td>
      </tr>
      <tr>
        <td>
          <span class="fa fa-map" aria-hidden="true"></span>&nbsp;
        </td>
        <td>
          <a href="https://goo.gl/maps/XzD5rn2mJwuRGwTt9" target="_blank">
          Google Maps Directions</a>
        </td>
      </tr>
    </table>
  </div>


  <div class="col-md-4">
    <h3 class="mt-3">Mailing Address</h3>
    Leonid Petrov<br />
    Department of Mathematics<br />University of Virginia
    <br />
    141 Cabell Drive, Kerchof Hall<br /> P.O. Box 400137<br /> Charlottesville, VA 22904-4137
  </div>
</div>
