In Fall 2022, I teach MATH 3100 Introduction to Probability and <a href="{{site.url}}/art2022/">MATH 8852 Asymptotic Representation Theory</a>.

<br>
MATH 3100 Class times: <b>TuTh 12:30pm - 1:45pm</b>, <b>New Cabell Hall 323</b><br>
MATH 8852 Class times: <b>TuTh 2:00pm - 3:15pm</b>, <b>Kerchof Hall 317</b><br>
Office hours (both courses): M2:30-3:30pm; W2:00-3:00pm in <a href="{{site.url}}/map_Kerchof.png" target="_blank">209 Kerchof Hall</a> or on zoom (link on Collab)<br>

{% unless page.name contains "teaching" %}Automatically schedule an office hours appointment <a href="{{site.url}}/teaching/">here</a>.{%endunless%}