In Fall 2023, I teach two sections of MATH 3100 Introduction to Probability.

<!-- In Spring 2023, I teach MATH 3340 Complex Variables with Applications (<a href="{{site.url}}/teaching/Syllabus_3340_s23.pdf">syllabus</a>). Class times: <b>MoWe 2:00pm - 3:15pm</b>, <b>Monroe Hall 111</b>.<br>Office hours: Mondays 12PM -- 1PM (Kerchof 209) and Tuesdays 1PM -- 2PM (on Zoom), starting on January 23. Zoom link for office hours is available on Canvas.<br> -->

<!-- {% unless page.name contains "teaching" %}Automatically schedule a zoom office hours appointment <a href="{{site.url}}/teaching/">here</a>.{%endunless%} -->