In Fall 2018 I teach 2 sections of MATH 3100 <b>Introduction to Probability</b>
which meet on Tuesdays and Thursdays, 
12:30-1:45pm and 2:00-3:15pm 
in Monroe Hall 116.
<ul>
    <li>
        Textbook: Pitman's "Probability"
    </li>
    <li>
        <a href="{{site.url}}/teaching/Syllabus_3100_f18.pdf">Syllabus (PDF)</a>
    </li>
    <li>
        Office hours: 
        Tuesday 11-12, Thursday 10-11, 
        or by appointment 
        (email me to set up a time; you can make as many appointments as you need).
        Advisees - please use these office hours or set up appointments, too.
    </li>
</ul>