\begin{etaremune}
\renewcommand{\labelenumi}{[\theenumi]}
{% for post in site.posts %}
{% if post.categories contains "preprint" or post.categories contains "paper" %}
\item {% if post.categories contains "preprint" %}($*$){% endif%}
{% for coa in post.coauthors %}{{coa.name}}{% unless forloop.last %}, {% endunless %}{% endfor %}.
\emph{%raw%}{{%endraw%}{{post.title}}}, {%if post.journal-ref%}{{post.journal-ref}}. {%endif%}
{% if post.arXiv %}\href{%raw%}{{%endraw%}https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}{%raw%}}{\texttt{{%endraw%}arXiv:{{post.arXiv}}{%raw%}}}{%endraw%}.{% endif %}
{% endif %}
{% endfor %}
\end{etaremune}


\subsection*{Errata}

\begin{etaremune}
\renewcommand{\labelenumi}{[\theenumi]}
{% for post in site.posts %}
{% if post.categories contains "erratum" %}
\item{%raw%}[{[{%endraw%}{{post.cv-number}}{%raw%}]}]{%endraw%} {% if post.categories contains "preprint" %}($*$){% endif%}
{% for coa in post.coauthors %}{{coa.name}}{% unless forloop.last %}, {% endunless %}{% endfor %}.
\emph{%raw%}{{%endraw%}{{post.title}}}, {%if post.journal-ref%}\href{%raw%}{{%endraw%}{{post.journal-web}}{%raw%}}{{%endraw%}{{post.journal-ref}}{%raw%}}{%endraw%}. {%endif%}
{% if post.arXiv %}\href{%raw%}{{%endraw%}https://arxiv.org/abs/{{post.arXiv | split: ' ' | first}}{%raw%}}{\texttt{{{%endraw%}{%raw%}\textcolor{red}{{%endraw%}arXiv:{{post.arXiv}}{%raw%}}}}}{%endraw%}.{% endif %} \href{%raw%}{{%endraw%}{{site.storage_url}}/research_files/publication_pdfs_2023/{{post.pdf}}{%raw%}}{\texttt{{%endraw%}(PDF link){%raw%}}}{%endraw%}. {% if post.pages %}{{post.pages}} pages.{%endif%}
{% endif %}
{% endfor %}
\end{etaremune}

\subsection*{Unpublished lecture notes}

\begin{enumerate}
{% for post in site.posts %}
{% if post.categories contains "unpublished-lecture-notes" %}
\item{%raw%}[{[{%endraw%}{{post.cv-number}}{%raw%}]}]{% endraw%}
{{post.link-description}}. {%if post.link-for-cv%}\href{%raw%}{{%endraw%}{{post.link-for-cv}}{%raw%}}{{%endraw%}{{post.link-text}}{%raw%}}{%endraw%}{% endif %}. \href{%raw%}{{%endraw%}{{site.storage_url}}/research_files/publication_pdfs_2023/{{post.lec-pdf}}{%raw%}}{\texttt{{%endraw%}(PDF link){%raw%}}}{%endraw%}.
{% endif %}
{% endfor %}
\end{enumerate}


\subsection*{Other works}

\begin{etaremune}
	\renewcommand{\labelenumi}{[\theenumi]}
	\item
	Sihan Li, Andrew Mecca, Jeewoo Kim, Giusy Caprara, Elizabeth Wagner, Ting-Ting Du, Leonid Petrov, Wenhao Xu, Runjia Cui, Ivan Rebustini, Bechara Kachar, Anthony Peng, and Jung-Bum Shin,
	\emph{Myosin-VIIa is expressed in multiple isoforms and essential for tensioning the hair cell mechanotransduction complex}.
	Nature Communications, 11, Article number: 2066 (2020). \url{https://www.nature.com/articles/s41467-020-15936-z}. 15 pages.
\end{etaremune}