<nav class="navbar navbar-toggleable-sm mb-4 navbar-light" style="background-color:#002f6c">
  <div class="container">

    <div class="navbar-brand" style="padding-top: 0 ;padding-bottom: 0;">
      <a href="{{site.url}}" class="hidden-xs-down page-logo-large mr-2" style="vertical-align: middle;">Leonid Petrov</a>
      <a href="{{site.url}}" class="hidden-sm-up page-logo-large mr-2" style="vertical-align: middle;">Leo Petrov</a>
    </div>

    <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto">
        {% assign sorted_pages = site.pages | sort: "nav_weight" %}
        {% for p in sorted_pages%}
        {% if p.nav_id != null and p.nav_id != "." %}
        <li class="nav-item
            {%if p.url == page.url %}active bg-inverse{% endif %}
            {% if p.nav_id == "." and paginator.page %}active bg-inverse{% endif %}
            {% if page.nav_parent == p.nav_id %}active bg-inverse{% endif %}">
          <a class="nav-link" href="{{site.url}}{{p.url}}">{{ p.nav_id }}{%if p.url == page.url %}<span class="sr-only">(current)</span>{% endif %}</a>
        </li>
        {% endif %}
        {% if p.nav_id == "." and p.url == "/posts/" %}
        <!-- <li class="nav-item {% if paginator.page %}active bg-inverse{% endif %}">
          <a class="nav-link" href="{{site.url}}/posts/">{{ p.nav_id }}{%if paginator.page %}<span class="sr-only">(current)</span>{% endif %}</a> -->
        </li>
        {% endif %}
        {% endfor %}
      </ul>

    </div>
  </div>
</nav>
