<h1>bib.bib</h1><a name="SaenzKnizelPetrov2018"></a><pre>
@unpublished{<a href="petrov.html#SaenzKnizelPetrov2018">SaenzKnizelPetrov2018</a>,
  author = {Knizel, A. and Petrov, L. and Saenz, A.},
  date-added = {2018-01-21 04:58:49 +0000},
  date-modified = {2018-01-21 04:59:08 +0000},
  title = {Generalizations of TASEP in discrete and continuous inhomogeneous space},
  note = {In preparation},
  year = {2018}
}
</pre>

<a name="Petrov2017push"></a><pre>
@unpublished{<a href="petrov.html#Petrov2017push">Petrov2017push</a>,
  author = {Petrov, L.},
  date-added = {2017-11-07 16:35:29 +0000},
  date-modified = {2017-11-08 16:48:11 +0000},
  title = {{PushTASEP in inhomogeneous space}},
  note = {In preparation},
  year = {2018}
}
</pre>

<a name="BufetovPetrovYB2017"></a><pre>
@article{<a href="petrov.html#BufetovPetrovYB2017">BufetovPetrovYB2017</a>,
  author = {Bufetov, A. and Petrov, L.},
  date-added = {2017-11-02 15:31:11 +0000},
  date-modified = {2017-12-22 18:50:06 +0000},
  journal = {arXiv preprint},
  note = {arXiv:1712.04584 [math.PR]},
  eprint = {1712.04584},
  title = {{Yang-Baxter field for spin Hall-Littlewood symmetric functions}},
  year = {2017}
}
</pre>

<a name="GorinPetrov2016universality"></a><pre>
@article{<a href="petrov.html#GorinPetrov2016universality">GorinPetrov2016universality</a>,
  author = {Gorin, V. and Petrov, L.},
  journal = {arXiv preprint},
  note = {arXiv:1608.03243 [math.PR]},
  eprint = {1608.03243},
  title = {Universality of local statistics for noncolliding random walks},
  year = {2016}
}
</pre>

<a name="OrrPetrov2016"></a><pre>
@article{<a href="petrov.html#OrrPetrov2016">OrrPetrov2016</a>,
  author = {Orr, D. and Petrov, L.},
  date-added = {2016-07-22 01:09:11 +0000},
  date-modified = {2017-09-24 23:29:04 +0000},
  journal = {Adv. Math.},
  pages = {473-525},
  title = {{Stochastic Higher Spin Six Vertex Model and $q$-TASEPs}},
  volume = {317},
  year = {2017}
}
</pre>

<a name="OrrPetrov2016arXiv"></a><pre>
@article{<a href="petrov.html#OrrPetrov2016arXiv">OrrPetrov2016arXiv</a>,
  author = {Orr, D. and Petrov, L.},
  date-added = {2016-07-22 01:09:11 +0000},
  date-modified = {2016-10-16 16:08:46 +0000},
  journal = {arXiv preprint},
  note = {arXiv:1610.10080 [math.PR]},
  eprint = {1610.10080},
  title = {{Stochastic Higher Spin Six Vertex Model and $q$-TASEPs}},
  year = {2016}
}
</pre>

<a name="BorodinPetrov2016Exp"></a><pre>
@article{<a href="petrov.html#BorodinPetrov2016Exp">BorodinPetrov2016Exp</a>,
  author = {Borodin, A. and Petrov, L.},
  date-added = {2016-06-16 12:05:52 +0000},
  date-modified = {2018-02-28 19:38:39 +0000},
  journal = {Probab. Theory Relat. Fields},
  note = {arXiv:1703.03857 [math.PR]},
  eprint = {1703.03857},
  title = {Inhomogeneous exponential jump model},
  year = {2017}
}
</pre>

<a name="BorodinPetrov2016_Hom_Lectures"></a><pre>
@article{<a href="petrov.html#BorodinPetrov2016_Hom_Lectures">BorodinPetrov2016_Hom_Lectures</a>,
  author = {Borodin, A. and Petrov, L.},
  date-added = {2016-06-09 15:51:23 +0000},
  date-modified = {2016-10-15 23:46:08 +0000},
  journal = {Lecture Notes of the Les Houches Summer School},
  volume = {104},
  note = {arXiv:1605.01349 [math.PR]},
  eprint = {1605.01349},
  title = {{Lectures on Integrable probability: Stochastic vertex models and symmetric functions}},
  year = {2016}
}
</pre>

<a name="BorodinPetrov2016inhom"></a><pre>
@article{<a href="petrov.html#BorodinPetrov2016inhom">BorodinPetrov2016inhom</a>,
  author = {Borodin, A. and Petrov, L.},
  date-added = {2016-01-17 15:23:09 +0000},
  date-modified = {2018-04-04 23:01:25 +0000},
  journal = {Selecta Math.},
  note = {arXiv:1601.05770 [math.PR]},
  eprint = {1601.05770},
  number = {2},
  pages = {751--874},
  title = {Higher spin six vertex model and symmetric rational functions},
  volume = {24},
  year = {2018}
}
</pre>

<a name="CorwinPetrov2015"></a><pre>
@article{<a href="petrov.html#CorwinPetrov2015">CorwinPetrov2015</a>,
  author = {Corwin, I. and Petrov, L.},
  date-added = {2015-03-03 02:24:54 +0000},
  date-modified = {2016-05-04 16:37:22 +0000},
  journal = {Commun. Math. Phys.},
  note = {arXiv:1502.07374 [math.PR]},
  eprint = {1502.07374},
  number = {2},
  pages = {651-700},
  title = {Stochastic higher spin vertex models on the line},
  volume = {343},
  year = {2016}
}
</pre>

<a name="MatveevPetrov2014"></a><pre>
@article{<a href="petrov.html#MatveevPetrov2014">MatveevPetrov2014</a>,
  author = {Matveev, K. and Petrov, L.},
  date-added = {2014-12-06 22:47:23 +0000},
  date-modified = {2016-10-23 14:43:23 +0000},
  journal = {Annales de l’IHP D},
  volume = {4},
  number = {1},
  pages = {1-123},
  note = {arXiv:1504.00666 [math.PR]},
  eprint = {1504.00666},
  title = {{$q$-randomized Robinson--Schensted--Knuth correspondences and random polymers}},
  year = {2017}
}
</pre>

<a name="BorodinCorwinPetrovSasamoto2013"></a><pre>
@article{<a href="petrov.html#BorodinCorwinPetrovSasamoto2013">BorodinCorwinPetrovSasamoto2013</a>,
  author = {Borodin, A. and Corwin, I. and Petrov, L. and Sasamoto, T.},
  date-added = {2013-08-04 14:20:36 +0000},
  date-modified = {2015-02-12 14:35:09 +0000},
  journal = {Compos. Math.},
  note = {arXiv:1308.3475 [math-ph]},
  eprint = {1308.3475},
  number = {1},
  pages = {1-67},
  title = {{Spectral theory for the q-Boson particle system}},
  volume = {151},
  year = {2015}
}
</pre>

<a name="BorodinPetrov2013Lect"></a><pre>
@article{<a href="petrov.html#BorodinPetrov2013Lect">BorodinPetrov2013Lect</a>,
  author = {Borodin, A. and Petrov, L.},
  date-added = {2013-10-26 22:18:44 +0000},
  date-modified = {2014-10-14 16:02:59 +0000},
  journal = {Probab. Surv.},
  note = {arXiv:1310.8007 [math.PR]},
  eprint = {1310.8007},
  pages = {1-58},
  title = {{Integrable probability: From representation theory to Macdonald processes}},
  volume = {11},
  year = {2014}
}
</pre>

<a name="BorodinPetrov2013NN"></a><pre>
@article{<a href="petrov.html#BorodinPetrov2013NN">BorodinPetrov2013NN</a>,
  author = {Borodin, A. and Petrov, L.},
  date-added = {2013-05-20 16:26:45 +0000},
  date-modified = {2016-09-01 11:51:35 +0000},
  journal = {Adv. Math.},
  note = {arXiv:1305.5501 [math.PR]},
  eprint = {1305.5501},
  number = {71-155},
  title = {{Nearest neighbor Markov dynamics on Macdonald processes}},
  volume = {300},
  year = {2016}
}
</pre>

<a name="BufetovPetrov2014"></a><pre>
@article{<a href="petrov.html#BufetovPetrov2014">BufetovPetrov2014</a>,
  author = {Bufetov, A. and Petrov, L.},
  date-added = {2013-08-10 13:58:43 +0000},
  date-modified = {2016-12-26 17:35:08 +0000},
  journal = {Selecta Math.},
  note = {arXiv:1402.1772 [math.PR]},
  eprint = {1402.1772},
  number = {4},
  pages = {1271-1338},
  title = {{Law of Large Numbers for Infinite Random Matrices over a Finite Field}},
  volume = {21},
  year = {2015}
}
</pre>

<a name="CorwinPetrov2013"></a><pre>
@article{<a href="petrov.html#CorwinPetrov2013">CorwinPetrov2013</a>,
  author = {Corwin, I. and Petrov, L.},
  date-added = {2013-05-10 12:04:19 +0000},
  date-modified = {2018-02-28 19:41:34 +0000},
  journal = {J. Stat. Phys},
  note = {arXiv:1308.3124 [math.PR]},
  eprint = {1308.3124},
  number = {4},
  pages = {1005-1026},
  title = {{The q-PushASEP: A New Integrable Model for Traffic in 1+1 Dimension}},
  volume = {160},
  year = {2015}
}
</pre>

<a name="Petrov2011sl2"></a><pre>
@article{<a href="petrov.html#Petrov2011sl2">Petrov2011sl2</a>,
  author = {Petrov, L.},
  date-added = {2011-12-14 22:40:51 +0000},
  date-modified = {2018-04-15 18:00:37 +0000},
  journal = {J. Algebr. Comb.},
  note = {arXiv:1111.3399 [math.CO]},
  eprint = {1111.3399},
  number = {3},
  pages = {663-720},
  title = {$\mathfrak{sl(2)}$ Operators and Markov Processes on Branching Graphs},
  volume = {38},
  year = {2013}
}
</pre>

<a name="Petrov2012"></a><pre>
@article{<a href="petrov.html#Petrov2012">Petrov2012</a>,
  author = {Petrov, L.},
  date-added = {2012-02-26 13:36:10 +0000},
  date-modified = {2018-02-28 19:38:39 +0000},
  journal = {Probab. Theory Relat. Fields},
  note = {arXiv:1202.3901 [math.PR]},
  eprint = {1202.3901},
  number = {3},
  pages = {429-487},
  title = {{Asymptotics of Random Lozenge Tilings via Gelfand-Tsetlin Schemes}},
  volume = {160},
  year = {2014}
}
</pre>

<a name="Petrov2012GFF"></a><pre>
@article{<a href="petrov.html#Petrov2012GFF">Petrov2012GFF</a>,
  author = {Petrov, L.},
  date-added = {2012-06-29 15:20:17 +0000},
  date-modified = {2016-05-04 16:39:09 +0000},
  journal = {{Ann. Probab.}},
  note = {arXiv:1206.5123 [math.PR].},
  eprint = {1206.5123},
  number = {1},
  pages = {1-43},
  title = {{Asymptotics of Uniformly Random Lozenge Tilings of Polygons. Gaussian Free Field}},
  volume = {43},
  year = {2015}
}
</pre>

<a name="Petrov2012GT"></a><pre>
@article{<a href="petrov.html#Petrov2012GT">Petrov2012GT</a>,
  author = {Petrov, L.},
  date-added = {2012-09-28 00:01:10 +0000},
  date-modified = {2014-10-08 19:46:17 +0000},
  journal = {Mosc. Math. J.},
  note = {arXiv:1208.3443 [math.CO]},
  eprint = {1208.3443},
  number = {1},
  pages = {121-160},
  title = {{The Boundary of the Gelfand-Tsetlin Graph: New Proof of Borodin-Olshanski's Formula, and its q-analogue}},
  volume = {14},
  year = {2014}
}
</pre>

<a name="Petrov2010Pfaffian"></a><pre>
@article{<a href="petrov.html#Petrov2010Pfaffian">Petrov2010Pfaffian</a>,
  author = {Petrov, L.},
  date-modified = {2018-02-28 19:50:15 +0000},
  journal = {Electron. J. Probab.},
  note = {arXiv:1011.3329 [math.PR]},
  eprint = {1011.3329},
  owner = {leo},
  pages = {2246-2295},
  timestamp = {2010.09.27},
  title = {Pfaffian stochastic dynamics of strict partitions},
  volume = {16},
  year = {2011}
}
</pre>

<a name="Petrov2011z"></a><pre>
@conference{<a href="petrov.html#Petrov2011z">Petrov2011z</a>,
  author = {Petrov, L.},
  booktitle = {Proceedings of the international conference ``50 years of IITP''},
  date-added = {2011-12-14 22:04:28 +0000},
  date-modified = {2011-12-14 22:41:38 +0000},
  month = {July},
  note = {arXiv:1107.0676 [math.CO]},
  eprint = {1107.0676},
  title = {{On Measures on Partitions Arising in Harmonic Analysis for Linear and Projective Characters of the Infinite Symmetric Group}},
  year = {2011}
}
</pre>

<a name="petrov2009eng"></a><pre>
@article{<a href="petrov.html#petrov2009eng">petrov2009eng</a>,
  author = {Petrov, L.},
  journal = {Jour. Math. Sci.},
  note = {in Russian: Zap. Nauchn. Sem. POMI {\bf{}373\/} (2009), 226--272, arXiv:0904.1823 [math.PR]},
  eprint = {0904.1823},
  number = {3},
  pages = {437--463},
  publisher = {Springer},
  title = {{Random walks on strict partitions}},
  volume = {168},
  year = {2010}
}
</pre>

<a name="Petrov2010"></a><pre>
@article{<a href="petrov.html#Petrov2010">Petrov2010</a>,
  author = {Petrov, L.},
  date-modified = {2018-02-28 19:49:16 +0000},
  journal = {Electron. Commun. Probab.},
  note = {arXiv:1002.2714 [math.PR]},
  eprint = {1002.2714},
  owner = {leo},
  pages = {162-175},
  timestamp = {2010.07.02},
  title = {{Random Strict Partitions and Determinantal Point Processes}},
  volume = {15},
  year = {2010}
}
</pre>

<a name="Petrov2007"></a><pre>
@article{<a href="petrov.html#Petrov2007">Petrov2007</a>,
  abstract = {The aim of the paper is to introduce a two-parameter family of infinite-dimensional
	diffusion processes X(alpha,theta) related to Pitman's two-parameter
	Poisson-Dirichlet distributions PD(alpha,theta). The diffusions X(alpha,theta)
	are obtained in a scaling limit transition from certain finite Markov
	chains on partitions of natural numbers. The state space of X(alpha,theta)
	is an infinite-dimensional simplex called the Kingman simplex. In
	the special case when parameter alpha vanishes, our finite Markov
	chains are similar to Moran-type model in population genetics, and
	our diffusion processes reduce to the infinitely-many-neutral-alleles
	diffusion model studied by Ethier and Kurtz (1981). Our main results
	extend those of Ethier and Kurtz to the two-parameter case and are
	as follows: The Poisson-Dirichlet distribution PD(alpha,theta) is
	a unique stationary distribution for the corresponding process X(alpha,theta);
	the process is ergodic and reversible; the spectrum of its generator
	is explicitly described. The general two-parameter case seems to
	fall outside the setting of models of population genetics, and our
	approach differs in some aspects from that of Ethier and Kurtz. We
	also consider the case of degenerate series of parameters alpha and
	theta and conclude that the diffusions in finite-dimensional simplexes
	studied by Ethier and Kurtz (1981) arise as a special case of our
	two-parameter family of diffusions.},
  author = {Petrov, L.},
  comments = {LaTex, 20 pages; v2: minor typos fixed, v3: title changed, discussion clarified and improved (conclusions unchanged), added new results about degenerate series of parameters},
  eprint = {0708.1930},
  journal = {Functional Analysis and Its Applications},
  note = {arXiv:0708.1930 [math.PR]},
  number = {4},
  oai2identifier = {0708.1930},
  owner = {leo},
  pages = {279-296},
  timestamp = {2009.03.11},
  title = {A two-parameter family of infinite-dimensional diffusions in the {K}ingman simplex},
  volume = {43},
  year = {2009},
  bdsk-url-1 = {<a href="http://arxiv.org/abs/0708.1930">http://arxiv.org/abs/0708.1930</a>}
}
</pre>

<a name="Petrov2009umn_eng"></a><pre>
@article{<a href="petrov.html#Petrov2009umn_eng">Petrov2009umn_eng</a>,
  author = {Petrov, L.},
  journal = {Russian Mathematical Surveys},
  number = {6},
  owner = {leo},
  pages = {1139--1141},
  timestamp = {2010.10.24},
  title = {Limit behaviour of certain random walks on strict partitions},
  volume = {64},
  year = {2009}
}
</pre>

<hr><p><em>This file was generated by
<a href="http://www.lri.fr/~filliatr/bibtex2html/">bibtex2html</a> 1.98.</em></p>
