<div class="featured-simulations" style="margin-top: 1rem; margin-bottom: 1rem">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- Card 1 -->
        <div class="col">
            <div
                style="
                    height: 100%;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                    border: 1px solid #dee2e6;
                "
            >
                <div style="padding: 0.5rem; text-align: center">
                    <h5 style="margin-bottom: 0.25rem; margin-top: 0.25rem">
                        <a
                            href="{{site.url}}/domino/"
                            style="text-decoration: none"
                        >
                            <div class="row">
                                <div class="col-2">
                                    <i class="fas fa-dice"></i>
                                </div>
                                <div class="col-8">
                                    <span
                                        >Random domino tilings of the Aztec
                                        diamond</span
                                    >
                                </div>
                                <div class="col-2">
                                    <i class="fas fa-dice"></i>
                                </div>
                            </div>
                        </a>
                    </h5>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col">
            <div
                style="
                    height: 100%;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                    border: 1px solid #dee2e6;
                "
            >
                <div style="padding: 0.5rem; text-align: center">
                    <h5 style="margin-bottom: 0.25rem; margin-top: 0.25rem">
                        <a
                            href="{{site.url}}/t-emb/"
                            style="text-decoration: none"
                        >
                            <div class="row">
                                <div class="col-2">
                                    <i class="fas fa-dice"></i>
                                </div>
                                <div class="col-8">
                                    <span
                                        >T-embedding of the Aztec diamond
                                        graph</span
                                    >
                                </div>
                                <div class="col-2">
                                    <i class="fas fa-dice"></i>
                                </div>
                            </div>
                        </a>
                    </h5>
                </div>
            </div>
        </div>

        <!-- Additional cards can be added here as needed -->
    </div>
</div>
