<div class="featured-simulations" style="margin-top: 2rem; margin-bottom: 2rem">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <!-- Card 1 -->
        <div class="col">
            <div
                style="
                    height: 100%;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                    border: 1px solid #dee2e6;
                "
            >
                <div style="padding: 0.75rem; text-align: center">
                    <h5 style="margin-bottom: 0.5rem; margin-top: 0.5rem">
                        <a
                            href="{{site.url}}/simulations/p/domino/"
                            style="text-decoration: none"
                            ><i class="fas fa-dice"></i> Domino tilings of the
                            Aztec diamond <i class="fas fa-dice"></i
                        ></a>
                    </h5>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col">
            <div
                style="
                    height: 100%;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                    border: 1px solid #dee2e6;
                "
            >
                <div style="padding: 0.75rem; text-align: center">
                    <h5 style="margin-bottom: 0.5rem; margin-top: 0.5rem">
                        <a
                            href="{{site.url}}/simulations/p/domino/"
                            style="text-decoration: none"
                            ><i class="fas fa-dice"></i> T-embeddings of the
                            Aztec diamond <i class="fas fa-dice"></i
                        ></a>
                    </h5>
                </div>
            </div>
        </div>

        <!-- Additional cards can be added here as needed -->
    </div>
</div>
