<h4 class="mt-4">Students and postdocs</h4>
<ul>
<li><a href="https://math.virginia.edu/people/smb2tp/">Yizhen Li</a>, Ph.D. student 2024-29</li>
  <li><a href="https://mtikhonov.com">Mikhail Tikhonov</a>, Ph.D. student 2020-26 (postdoc at Oregon State University starting Fall 2026)</li>
  <li><a href="https://danielslonim.github.io">Daniel Slonim</a>, postdoc 2022-24 (now Tenure Track at Hillsdale College)</li>
  <li><a href="https://math.mit.edu/directory/profile.html?pid=2588">Svetlana Gavrilova</a>, bachelor thesis at HSE, 2020-21 (now Ph.D. student at MIT)</li>
  <li><a href="https://milindhegde.github.io/">Milind Hegde</a>, postdoc at MSRI Fall 2021 (now Tenure Track at NTU Singapore)</li>
  <li><a href="https://sites.google.com/view/axelsaenz">Axel Saenz</a>, postdoc 2016-19 (now Tenure Track at Oregon State)</li>
</ul>
