<div class="list-group-sm">
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/travel-and-events/#events">Recent events</a>
  <!-- <a class="list-group-item list-group-item-action h5" href="">Events archive</a> -->
</div>
<br />
<div class="list-group-sm">
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/travel-and-events/#travel">Recent travel</a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/travel-and-events/plans/">Travel plans</a>
  <a class="list-group-item list-group-item-action h5" href="{{site.url}}/travel-and-events/photos/">Photos</a>
</div>
