---
title: Blog
layout: default
permalink: /blog/posts/
nav_id: Blog
nav_weight: 8
---

<h1 class="mb-3">Recent blog entries</h1>

<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-md-9">

    <div class="row my-col-12-zebra-twocols">
    {% assign blog-posts-counter = 0 %}
    {% for post in site.posts %}
    {% if post.categories contains "blog" %}
      {% unless post.categories contains "paper" or post.categories contains "preprint" or post.categories contains "talk" %}
        {% assign blog-posts-counter = blog-posts-counter | plus:1 %}
      {% endunless %}
    {% endif %}

    {% unless post.categories contains "paper" or post.categories contains "preprint" or post.categories contains "talk" %}
		{% if post.categories contains "blog" and blog-posts-counter < 11 %}

      <div class="col-12 col-lg-6 my-bordered-news-snippets">

        {% if post.image != null %} {% if post.image-address != null %}{% unless post.no-page %}<a href="{{ post.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% endunless %}{% else %}{% unless post.no-page %}<a href="{{site.url }}{{ post.url }}">{% endunless %}{% endif %}<img src="{{ post.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ post.image-alt }}" title="{{ post.image-alt }}" style="max-width:100%;max-height:280px;height:auto;width:auto;" class="mb-1 mt-3">{% unless post.no-page %}</a>{% endunless %}
        {% endif %}

        <h3 class="mb-2 mt-3">{% unless post.no-page %}<a href="{{site.url }}{{ post.url }}" style="color:inherit;">{% endunless %}{% if post.categories contains "paper" or post.categories contains "preprint" %}[paper]{% endif %}
        {% if post.categories contains "travel" %}[travel]{% endif %}
        {% if post.categories contains "tech" %}[tech]{% endif %}
        {% if post.categories contains "talk" %}[talk]{% endif %}{% if post.categories contains "event" %}[event]{% endif %}
        {{ post.title }}{% unless post.no-page %}</a>{% endunless %}</h3>

        {% if post.show-date %}
        <div class="mb-4">[{{ post.date |  date: "%Y/%m/%d" }}]</div>
        {% endif %}

        {% if post.semester %}
        <div class="mb-4">[{{ post.semester }} semester]</div>
        {% endif %}



        {{ post.excerpt | markdownify }}


        {% unless post.no-page %}<p><a class="btn btn-secondary h5" href="{{ site.url }}{{ post.url }}" style="white-space: normal" role="button">{% if post.more-text == null %}View details{% else %}{{ post.more-text }}{% endif %} &raquo;</a></p>{% endunless %}
      </div>


			{% endif %}
      {% endunless %}
      {% endfor %}
    </div>


  </div>
  <div class="col-md-3 sidebar-offcanvas">
    <hr class="hidden-md-up">


		{% include blog-side-menu.html %}
  </div>
</div>
