---
layout: default
---

<h1>{{page.title}}</h1>

{% if page.show-date %}<h3 class="mb-4">{{ page.date |  date: "%Y/%m/%d" }}</h3>{% endif %}
<hr />

{{ content }}

{% if page.image != null %} {% if page.image-address != null %}<a href="{{ page.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% else %}<a href="{{site.url }}{{ page.url }}">{% endif %}<img src="{{ page.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ page.image-alt }}" title="{{ page.image-alt }}" style="max-width:100%;max-height:500px;height:auto;width:auto;" class="mb-3 mt-3"></a>
{% endif %}
