---
layout: default
---

<h1>{{page.title}}</h1>

{% if page.show-date %}<h3 class="mb-4">{{ page.date |  date: "%Y/%m/%d" }}</h3>{% endif %}


{% if page.coauthors %}(with {% for coa in page.coauthors %}{% if coa.noweb != true %}<a href="{{coa.web}}">{%endif%}{{coa.name}}{% if coa.noweb != true %}</a>{%endif%}{% unless forloop.last %}, {% endunless %}{% endfor %})<br>{% endif %}
{%if page.journal-web%}<a href="{{page.journal-web}}" target="_blank">{%endif%}
  <i>{{page.journal-ref}}</i>{%if page.journal-web%}</a>{%endif%}{% if page.journal-ref and page.arXiv %} &bull; {% endif %}
{% if page.arXiv %}<a href="https://arxiv.org/abs/{{page.arXiv | split: ' ' | first}}" target="_blank">arXiv:{{page.arXiv}}</a>{% endif %}

{% if page.post-pdf %}<br><br><a href="{{site.storage_url}}/research_files/Petrov-publ/{{page.pdf}}">PDF</a>{% endif %}

{% if page.post-source %}<br><br><a href="{{site.storage_url}}/research_files/Petrov-publ/{{page.source}}">Source</a>{% endif %}

<hr />


{{ content }}

{% include disqus.js %}

{% if page.image != null %} {% if page.image-address != null %}<a href="{{ page.image-address | replace: '__STORAGE_URL__', site.storage_url }}">{% else %}<a href="{{site.url }}{{ page.url }}">{% endif %}<img src="{{ page.image | replace: '__STORAGE_URL__', site.storage_url }}" alt="{{ page.image-alt }}" title="{{ page.image-alt }}" style="max-width:100%;max-height:800px;height:auto;width:auto;" class="mb-3 mt-3"></a>

<br />
{{page.image-alt}}

{% endif %}
